nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #282c34;
  font-weight: 600;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}

.authLink {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #4497cb;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #a13771;
  box-shadow: 0 0 2px 0 #4497cb;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}

.profilebutton {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-right: 5em;
  background-color: #a13771;
  box-shadow: 0 0 2px 0 #4497cb;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}
